<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students API</title>
</head>
<body>

<h1>Welcome to the Students API!</h1>
<h3>This is an website that is possible to add profiles, update and delete them, and can see the names in a spreadsheet</h3>

<!-- Navigation links to other pages -->
<button onclick="window.location.href='/addStudent'">Add Student</button>
<button onclick="window.location.href='/students'">View Students</button>

</body>
</html>
